table, tr, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    user-select: none;
    font-weight: bold;
    font-family: monospace;
    font-size: 16px;
}

td {
    width: 25px;
    height: 25px;
    text-align: center;
}

.revealed, .exploded {
    background: #e9e9e9;
}

.mine {
    width: 20px;
}

.false_positive {
    background: orangered;
}

.mines_1 {
    color: blue;
}

.mines_2 {
    color: green;
}

.mines_3 {
    color: red;
}

.mines_4 {
    color: darkblue;
}

.mines_5 {
    color: darkred;
}

.mines_6 {
    color: darkturquoise;
}

.mines_7 {

}

.mines_8 {

}
