body {
    display: flex;
    justify-content: center;
}

.game, .settings, .leaderboard {
    border: 1px solid lightgray;
    padding: 20px;
    margin: 0 10px;
    float: left;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .number {
    width: 30px;
    text-align: center;
    font-size: 30px;
}

.bottom {
    text-align: center;
}

table, tr, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    user-select: none;
    font-weight: bold;
    font-family: monospace;
    font-size: 16px;
    margin: 20px 0;
}

td {
    width: 25px;
    height: 25px;
    text-align: center;
}

.revealed, .exploded {
    background: #e9e9e9;
}

.mine {
    width: 20px;
}

.false_positive {
    background: orangered;
}

.mines_1 {
    color: blue;
}

.mines_2 {
    color: green;
}

.mines_3 {
    color: red;
}

.mines_4 {
    color: darkblue;
}

.mines_5 {
    color: darkred;
}

.mines_6 {
    color: darkturquoise;
}

.mines_7 {

}

.mines_8 {

}

.leaderboard header {
    font-weight: bold;
}

.leaderboard section {
    margin-bottom: 1em;
}

.leaderboard section:last-child {
    margin-bottom: 0;
}
